.heroSection .container {
    max-width: 600px;
}

.topContent {
   padding: 48px 24px;
}

.heroImage {
    max-height: 400px;
    width: auto;
    margin: 48px 0;
}

.heroDescription {
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.625;
}