.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom:2rem;
}

.categories .category {
    box-sizing: border-box;
    text-align: center;
    padding: 8px;
    border: none;
    background-color:transparent;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color:#868382;
}

.categories .category.active {
    color: #000000;
    font-weight: 600;
}

.blogs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}