@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #fbf9f9;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif 4', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.container-small {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}